.header {
  background-color: var(--black);
  color: var(--white);
  min-height: 695px;
  padding: 40px 0;
  display: flex;
  text-align: center;
  
  
  justify-content: center;
  align-items: center;
  
  background-image: url(./../img/Abstract\ \(1\).svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.header__wrapper {
    // margin: 0 auto;
    // max-width: 660px;
    // display: flex;
    justify-content: center;
    flex-direction: column;
  }
.header__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.header__title strong{
  color: var(--purple);
}

.header__text {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
 
// если будет добавлен текст, оступы не изменятся
  & p + p {
    margin-top: 1em;
  }

}
.header__discription {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 40px;
}
.btn {
  // display: inline-block;
 
padding: 12px 28px;
background-color: var(--purple);
color: var(--white);
font-size: 16px;
font-weight: 500;
display: inline-block;
// height: 48px;
border-radius: 5px;
letter-spacing: 0.15px;
line-height: 1.33;
height: 48px;
transition: 0.2s ease-in;

&:hover{
  opacity: 0.8;
}

&:active{
  position: relative;
  top: 1px;
}
 }

 @media (max-width: 620px) {
  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }
 }

 @media (max-width: 400px) {
  .header__title {
    font-size: 30px;
  }
  .header__text {
    font-size: 20px;
  }

  .header__title strong {
    font-size: 30px;
  }
 }
 